.InputField{
margin-bottom: 30px;
}
.todo{
   margin: 30px 100px;
   box-shadow: 0 0 10px orange;
   width: 500px;
   padding: 25px;
   background-color: antiquewhite;
}

.InputField button{
    padding: 3px 20px;
    margin-left: 15px;
    background-color: #31a71c;
    color: white;

}