table {
    border-collapse: collapse; 
    width: 400px; 
    margin: 30px auto;
  }
  
  th, td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left; 
  }
  
  th{
    background-color: yellow;
  }

