.getData{
    padding: 8px 15px;
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin: 20px;
}

.container{
    text-align: center;
    padding: 20PX;
}

.displayCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 40px;
}