.Grid_item{
    width: 320px;
    height: 280px;
    box-shadow: 0 0 10px black;
}

.Grid_Container{
    width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

